/* General styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
 
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  min-height: 81vh;
}

/* Header styling */


/* Main content styling */
.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

h2 {
  margin-bottom: 1rem;
}

/* Form styling */
.login-form {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.input-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button-i {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-button-i :hover {
  background-color: #0056b3;
}

/* Responsive styling */
@media (max-width: 768px) {
  .login-form {
    padding: 1rem;
  }

  .header, .footer {
    padding: 0.5rem;
  }
}
